
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>
      One-Time Configuration for OpenVPN
    </title>
    <meta name="description" content="Quickly Deploy OpenVPN Server on DigitalOcean">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@1.2.0/css/tachyons.min.css">
    <link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  </head>
  <body class="w-100 sans-serif">
      <main>
              <section class="phm phl-ns mw7 center pvxl">
  
<h2 class="ttu tracked">Single Use Download</h2>
<p class='f5 f3-ns lh-copy measure'>All subsequent requests will fail, and a new VPN server will need to be provisioned in order to regenerate.</p>
<a class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--black-40 black-80 link pam" href='/config' download='client.ovpn'>Download Config</a>
     </div>
   </section>
   </main>


  </body>
</html>
